@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #000000;
  overflow-x: hidden !important;
}

header {
  background: rgb(133, 81, 35);
  background: linear-gradient(rgba(133, 81, 35, 1) 0%, rgba(87, 66, 48, 1) 19%, rgba(0, 0, 0, 1) 100%);
  width: 100%;
  height: 700px;
  margin: 0;
  top: 0;
}

.titleImageHolder img {
  width: 900px;
}

.titleImageHolder {
  margin-top: 300px;
}

.profilePicture {
  float: right;
  margin-top: -400px;
}

.profilePicture img {
  width: 500px;
}

a {
  text-decoration: none;
}

.indexfooter {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 10px;
  margin-top: 50px;
}

.navUl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.navUl .icon-content {
  margin: 0 10px;
  position: relative;
}

.navUl .icon-content .tooltip {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
  z-index: 10;
}

.navUl .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 6px;
}

.navUl .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: #4d4d4d;
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}

.navUl .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}

.navUl .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.navUl .icon-content a:hover {
  color: white;
}

.navUl .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.navUl .icon-content a:hover .filled {
  height: 100%;
}

.navUl .icon-content a[data-social="spotify"] .filled,
.navUl .icon-content a[data-social="spotify"]~.tooltip {
  background-color: #1db954;
}

.navUl .icon-content a[data-social="instagram"] .filled,
.navUl .icon-content a[data-social="instagram"]~.tooltip {
  background-color: #ffc273;
}

.navUl .icon-content a[data-social="youtube"] .filled,
.navUl .icon-content a[data-social="youtube"]~.tooltip {
  background-color: #ff0931;
}

.navUl .icon-content a[data-social="tiktok"] .filled,
.navUl .icon-content a[data-social="tiktok"]~.tooltip {
  background-color: #69c9d0;
}

.navUl .icon-content a[data-social="x"] .filled,
.navUl .icon-content a[data-social="x"]~.tooltip {
  background-color: #1dcaff;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.topNav svg {
  color: #000000;
}

.sideNav ul {
  display: flex;
  float: right;
  margin: -500px 100px 50px 50px;
  flex-direction: column;
  padding: 20px 40px;
  color: white;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 225px;
}

.sideNav li {
  list-style: none;
  margin: 30px 0px;
}

.sideNav a {
  color: white;
  text-decoration: none;
}

.sideNav a {
  color: white;
  text-decoration: none;
  position: relative;
}

.sideNav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: white;
  transition: width 0.5s;
  bottom: -5px;
  left: 0;
}

.sideNav a:hover::after {
  width: 100%;
}

.sideNav a:hover {
  color: #ffc273;
}

.index_content_wrapper {
  width: 100%;
}

.main {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  width: 500px;
  height: 400px;
  margin: 200px 50px 50px 50px;

}

.main img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  transform: rotate(180deg);
}

.main p {
  color: black;
}

#reloadBtn {
  width: 30px;
  height: 30px;
  float: right;
}

#reloadBtn:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: .8s cubic-bezier(.64, .06, .59, .82);
}

#reloadBtn:active {
  fill: gray;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
  font-size: 2em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}

p {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.aboutwrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

#aboutH1 {
  color: #ffc273;
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.aboutP {
  margin-top: 30px;
  text-indent: 30px;
}

.aboutNav a:hover svg {
  fill: #ffc273 !important;
  transform: scale(1.1);
}

.bars {
  justify-content: center;
  align-items: center;
}

.barcontainer {
  cursor: pointer;
  padding-bottom: 3px;
  position: absolute;
  top: 10%;
  left: 5%;
}

.barcontainer input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  border-radius: 40px;
  transition: all 0.3s cubic-bezier(0.37, -1.11, 0.79, 2.02);
  background-color: #404040;
}

.barcontainer input:checked~.bar:nth-child(2) {
  transform: translateY(9.5px) rotate(45deg);
}

.barcontainer input:checked~.bar:nth-child(3) {
  opacity: 0;
}

.barcontainer input:checked~.bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
}

.aboutNav {
  display: none;
  position: absolute;
  top: 20%;
  background-color: #111111;
  padding: 20px;
  width: 200px;
  height: 500px;
  border-radius: 20px;
}

#discographyBtn svg {
  fill: white;
  height: 50px;
}

#backBtn svg {
  fill: white;
}

.aboutA {
  color: #ffc273;
  text-decoration: none;
}

.about_nav_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.about_nav_content a {
  color: #ffc273;
  text-decoration: none;
}

.aboutfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  height: 50px;
}

.footericons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  width: 500px;
  place-self: center;
  padding: 50px;
}

.footericons svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.footericons svg:hover {
  fill: #ffc273;
  transform: scale(1.1);
}

.year_selector_wrapper{
  width: 100px;
  position: absolute;
  top: 20%;
  right: 5%;
  background-color: #111111;
  border-radius: 25px;
}
.year_selector_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.year_selector_content li{
  list-style: none;
  margin-bottom: 5px;

}
.year_selector_content input:checked + label{
  color: #ffc273;
  opacity: 1;
}
.year_selector_check{
  opacity: 0;
  display: none;
}
#barcon2{
  position: absolute;
  top: 20%;
  left: 5%;
}
label{
  color: white;
  text-decoration: none;
  opacity: 1;
  font-size: 1.75em;
}

.discographytable {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}

td,
th,
table {
  padding: 10px;
  text-align: center;
}
th {
  font-size: 1.5em;
  color: #ffc273;
  border-bottom: 4px solid #fff;
}
.separator{
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
}

@media only screen and (min-width: 1450px) {
  .profilePicture {
    margin-right: 60px;
  }

}

@media only screen and (max-width: 1450px) {
  .profilePicture img {
    width: 300px;
    margin-top: 150px;
    margin-right: 45px;
  }
}

@media only screen and (max-width: 1200px) {
  .profilePicture img {
    width: 200px;
  }

  .profilePicture {
    margin-top: 0px;
    margin-right: 60px;
  }

  .titleImageHolder img {
    width: 700px;
  }

  .titleImageHolder {
    position: absolute;
    margin-top: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .imagewrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profilePicture {
    margin-bottom: 500px;
    margin-right: 0;
  }

  .profilePicture img {
    margin-right: 0 !important;
  }

  .index_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .main {
    margin-bottom: 100px;
  }

  .sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .sideNav ul {
    margin: 0;
  }

  .indexfooter {
    margin-top: 300px;
  }

}

@media only screen and (max-width: 700px) {
  .imagewrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profilePicture {
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .titleImageHolder img {
    width: 500px;
  }

  .index_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .topNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .main {
    margin-bottom: 100px;
    width: 450px;
    height: fit-content;
  }
  #reloadBtn svg{
    width: 20px;
    height: 20px;
    margin: 5px;
  }

  .sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .sideNav ul {
    margin: 0;
  }

  .indexfooter {
    margin-top: 300px;
  }

}

@media only screen and (max-width: 500px) {
  .imagewrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profilePicture {
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .titleImageHolder img {
    width: 300px;
  }

  .index_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .topNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .main {
    margin-bottom: 100px;
    width: 300px;
    height: fit-content;
  }

  .main img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    transform: rotate(180deg);
  }

  .main .albumcover {
    width: 30px;
    height: 30px;
  }

  .main p {
    font-size: 0.8em;
    padding: 5px;
  }

  .pslot {
    font-size: 0.5em;
  }

  .sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .sideNav ul {
    margin: 0;
    font-size: 1.5em;
  }

  .indexfooter {
    margin-top: 300px;
    font-size: 7px;
  }

}
@media only screen and (max-width: 850px) {
  .aboutwrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .aboutP{
    width: 700px;
  }
}
@media only screen and (max-width: 700px) {
  .aboutwrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .aboutNav{
    margin-top: -40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #111111f3;;
  }
  .aboutP{
    width: 500px;
  }
}
@media only screen and (max-width: 500px) {
  .aboutwrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .aboutNav{
    margin-top: -40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #111111f3;;
  }
  .aboutP{
    width: 300px;
  }
  .aboutFooter svg{
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  #yearselect{
    display: block!important;
  }
  #barcon2{
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .bars_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
  }
  .barcontainer{
    position: relative;
  }
  #barcon2{
    position: relative;
  }
}