@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #000000;
}
header{
    background: linear-gradient(0deg, #000 4.9%, #574230 47.09%, #855123 97.4%);
    width: 100vw;
    height: 40vh;
    margin: 0;
}
.titleImageHolder img{
    width: 1100px;
}
.titleImageHolder{
    position: absolute;
    top: 30%;
}
.profilePicture{
    position: absolute;
    right: 10%;
    top: 10%;

}
.profilePicture img{
    width: 500px;
}
  
  .navUl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    list-style: none;
  }
  .navUl .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .navUl .icon-content .tooltip {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    z-index: 10;
  }
  .navUl .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: 6px;
  }
  .navUl .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    color: #4d4d4d;
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
  }
  .navUl .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
  }
  .navUl .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .navUl .icon-content a:hover {
    color: white;
  }
  .navUl .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .navUl .icon-content a:hover .filled {
    height: 100%;
  }
  .navUl .icon-content a[data-social="spotify"] .filled,
  .navUl .icon-content a[data-social="spotify"] ~ .tooltip {
    background-color: #1db954;
  }
  .navUl .icon-content a[data-social="instagram"] .filled,
  .navUl .icon-content a[data-social="instagram"] ~ .tooltip {
    background-color: #ffc273;
  }
  .navUl .icon-content a[data-social="youtube"] .filled,
  .navUl .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0931;
  }
  .navUl .icon-content a[data-social="tiktok"] .filled,
  .navUl .icon-content a[data-social="tiktok"] ~ .tooltip {
    background-color: #69c9d0;
  }
  .navUl .icon-content a[data-social="x"] .filled,
  .navUl .icon-content a[data-social="x"] ~ .tooltip {
    background-color: #1dcaff;
}
.topNav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.topNav svg{
    color: #000000;
} 
.sideNav{
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    color: white;
    margin: 30% 0; 
    font-size: 3em;
}
.sideNav li{
  list-style: none;
  margin: 30px 0px;
}
.sideNav a{
  color: white;
  text-decoration: none;
}
.sideNav a {
  color: white;
  text-decoration: none;
  position: relative;
}

.sideNav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: white;
  transition: width 0.5s;
  bottom: -5px;
  left: 0;
}

.sideNav a:hover::after {
  width: 100%;
}
.sideNav a:hover{
  color: #ffc273;
}

.main {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
  width: 300px;
  position: absolute;
  left: 10%;
  top: 110%;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}
.imagewrapper{
  display: flex;
  align-items: center;
}
p{
  color: white;
  font-size: 1.5em;
  margin: 0;
}
.aboutwrapper{
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}
#aboutH1{
  color: #ffc273;
  font-size: 3em;
  text-align: center;
}
.aboutP{
  margin-top: 30px;
  text-indent: 30px;
}
.aboutNav svg:hover{
  fill: #ffc273 !important;
  transform: scale(1.1);
}
.bars {
  justify-content: center;
  align-items: center;
}

.barcontainer {
  cursor: pointer;
  padding-bottom: 3px;
  position: absolute;
  top: 10%;
  left: 5%;
}

.barcontainer input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  border-radius: 40px;
  transition: all 0.3s cubic-bezier(0.37, -1.11, 0.79, 2.02);
  background-color: #404040;
}

.barcontainer input:checked ~ .bar:nth-child(2) {
  transform: translateY(9.5px) rotate(45deg);
}

.barcontainer input:checked ~ .bar:nth-child(3) {
  opacity: 0;
}

.barcontainer input:checked ~ .bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
}
.aboutNav{
  display: none;
  position: absolute;
  top: 20%;
  background-color: #111111;
  padding: 20px;
  width: 100px;
  height: 500px;
  border-radius: 20px;
}
#discographyBtn svg{
  fill:white;
  height: 50px;
}
#backBtn svg{
  fill: white;
}
.aboutA{
  color: #ffc273;
  text-decoration: none;
}
.about_nav_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  height: 100%;
}